/* custom variable*/
:root {
    --def-color: cornflowerblue;
}

h1 {
    margin: 10px;
}

b, strong {
    color:dimgrey;
}

h2 {
    position: relative;
    background-color: var(--def-color, #ffff00);
    font-size: 1.6rem;
}

.wrapper {
    font-size: 0.9em;
    width: 100vw;
}

img {
    position: static;
    height: 150px;
    width: 300px;
}

video {
    max-width: 800px;
    min-width: 30px;
}

.boxHeading {
    display: inline-block;
    text-align: center;
    text-decoration: overline;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px solid #0a6febc3;
    border-radius: 20px;
  }

.boxSubHeading {
    display: block;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-style: dotted;
    border-color: dodgerblue;
    border-width: 3px;
    border-radius: 0px;
}

.container {
    margin: 2% 2% 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 2px;
}

.itemFlex {
    order: 1;
    flex-grow: 1;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 20px [col-start]);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gridItem {
    grid-column: 1 / span 2;
    grid-row: row1-start / 4;
    border: 1px solid black;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    color: blue;
}

button:active {
    color: red;
}

@media (max-width: 50rem) {
    
}

#roles, #rules, #contract {
    color: darkblue;
}

li[class*="gridItem"] {
    background-color: #ffff00;
}

.container li {
    background-color: aqua;
}

ul > li {
    color: orchid;
}

h3 ~ ul {
    font-size: 18px;
}

h3 + ul {
    border: #0a6febc3 solid;
}

h2.boxHeading {
    color: green;
}

h2:has(+ h3) {
    font-size: 20px;
}

.wrapper {
    font-size: 25px;
    .roles & {
        font-size: 20px;
    }
}
